body {
    font-family: 'Open Sans', sans-serif;
}

#top-banner {
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 700px;
    color:white;
    text-align: center;
    margin-left: 70px;
    
}

.banner-texts {
    padding-top: 250px;
}

.banner-texts h1{
    font-size: 40px;
    font-weight: 800;
    background-color: rgba(128, 128, 128, 0.39);
}

.banner-texts p {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    background-color: rgba(128, 128, 128, 0.39);
}

.top-donate-btn {
    margin-top: 60px;
}

.top-donate-btn a {
    background-color: rgb(11, 153, 248);
    padding: 20px 40px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.choose-amount {
    display: flex;
    margin-left: 200px;
}

.donation-amount-content {
    text-align: center;
}

.donation-amount-content h1 {
    font-size: 50px;
    font-weight: 800;
}

.donation-amount-content p{
    font-size: 20px;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.747);
}

.choose-amount div {
    padding: 40px;
    background-color: rgba(128, 128, 128, 0.158);
    margin: 0 10px 10px;
    font-size: 30px;
    font-weight: 900;
}

.default-amount {
    border: 2px solid tomato;
    border-radius: 5px;
    color: tomato;

}

#other-amount {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid grey;
    font-size: 20px;
    color: rgba(128, 128, 128, 0.452);
    margin-top: 40px;
    width: 400px;
    text-align: center;
}

#submit-button {
    padding: 20px 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: rgb(11, 153, 248);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.plan-content {
    text-align: center;

}

.plan-content h1 {
    font-size: 50px;
    font-weight: 800;

}

#donation-plan {
    margin: 70px 20px;
}

.donation-plan-list {
    display: flex;
}

.donation-plan-list img {
    padding: 0 35%;
}

.family-plan {
    background-color: bisque;
    height: 350px;
    margin-right: 20px;
    padding: 15px;
}

.shelter-plan {
    background-color: azure;
    height: 350px;
    margin-right: 20px;
    padding: 15px;
}

.education-plan {
    background-color: aquamarine;
    height: 350px;
    padding: 15px;
}

#volunteer {
    display: flex;
    background-color: wheat;
    width: 80%;
    margin: 100px;
    color: rgb(92, 90, 90);
}

.half-width {
    width: 50%;
    height: 300px;
    padding: 30px 0;

}

.half-width h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;

}

.half-width p {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
    margin-left: 20px;
}

.half-width img {
    width: 70%;
    padding-left: 40px;

}

.half-width a {
    text-decoration: none;
    padding: 20px 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 70px;
}

#gallery {
    border: 15px solid rgba(128, 128, 128, 0.411);
    border-radius: 20px;
    margin-top: 150px;
    height: 400px;
}

#gallery h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
}

.gallery-images {
    display: flex;
    margin-left: 40px;
}

.gallery-images img {
    width: 22%;
    padding: 0 13px;
}

#subscription {
    margin-top: 100px;
}


#subscription h1 {
    font-size: 45px;
    text-align: center;
}

#subscription p{
    font-size: 20px;
    font-weight: 600;
    text-align:center ;
}

#subscription-form {
    background-color: antiquewhite;
    padding: 100px;
    width: 500px;
    margin: 0 300px;
    text-align: center;
}

#email-form {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    background-color: rgba(128, 128, 128, 0.562);
}

#email-submit {
    padding: 18px;
    font-size: 20;
    font-weight: 800;
    color: white;
    text-align: center;
    background-color: tomato;
    border: none;
}

#footer {
    background-color: rgb(21, 26, 26);
    color: white;
    text-align: center;
    margin: 100px 0 0 0;
    padding: 20px 0;

}

#footer h1 {
    font-family: Comic Sans MS;
}

* {
    color: Black;
}